header {
  background-color: #333;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

nav {
  display: inline-block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
transition: color 0.3s ease-in-out;
}

nav a:hover {
color: #f2f2f2;
}

main {
padding-top: 100px;
}

section {
margin-bottom: 1000px;
position: relative;
}

section::before {
content: '';
display: block;
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: #f2f2f2;
z-index: -1;
transform: translateX(100%);
transition: transform 0.5s ease-in-out;
}

section.in-view::before {
transform: translateX(0);
}
